body {
    background: #7B8183;
    margin: 0;
    font-family: ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 800px;
}

#mainHeader {
    color: #BC81BF;
    text-shadow: 3px 3px 8px black;
    font-size: 50px;
    margin: 0;
}

#gridContainer {
    display: flex;
    background: black;
    border-color: white;

}


#secondLayer {
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftSide {
}