body {
    background: #7B8183;
    margin: 0;
    font-family: ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 800px;
}

#mainHeader {
    color: #BC81BF;
    text-shadow: 3px 3px 8px black;
    font-size: 50px;
    margin: 0;
    margin-left: 50px;
}

#gridContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: black;
    border-style: solid;
    border-color: white;
    border-width: thick;
    height: 550px;
    width: 550px;
    box-shadow: 3px 3px 10px black;
}


#gridRow {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-color: #302F2F;
}

#gridDiv {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-color: #302F2F;
}

#secondRow {
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sliderHeader {
    text-shadow: 3px 3px 9px black;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    appearance: none;
    height: 10px;
    background: #5F9F89;
    outline: none;
    opacity: 0.7;
    box-shadow: 3px 3px 8px black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearanace: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #BC81BF;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #BC81BF;
    cursor: pointer;   
}

#sliderText {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    text-shadow: 3px 3px 9px black;
}

#resetHouse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#reset {
    background: #BC81BF;
    color: white;
    text-shadow: 3px 3px 7px black;
    font-size: 30px;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}