body {
    background: #7B8183;
    margin: 0;
    font-family: ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 800px;
}

#mainHeader {
    color: #BC81BF;
    text-shadow: 3px 3px 8px black;
    font-size: 50px;
    margin: 0;
}

#gridContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: black;
    border-style: solid;
    border-color: white;
    border-width: thick;
    height: 500px;
    width: 500px;
    overflow: hidden;
}


#gridRow {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-color: #302F2F;
    overflow: hidden;
}

#gridDiv {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-color: #302F2F;
}

#secondLayer {
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

